* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  color: #000000;
  opacity: 0.7;
  padding: 0rem 0.5rem;
}

.slide-arrow:hover,
.slide-arrow:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: ease 0.5s;
}

#slide-arrow-prev {
  left: 0;
}

#slide-arrow-next {
  right: 0;
}

.slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#main-entrance, #land-section, #water-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animal {
  position: absolute;
  visibility: hidden;
}

#lion {
  top: 300px;
  left: 1100px;
}

#lion svg {
  width: 200px;
  height: 200px;
}

#gazelle {
  top: 650px;
  left: 600px;
}

#gazelle svg {
  width: 200px;
  height: 200px;
}

#cheetah {
  top: 525px;
  right: 300px;
}

#cheetah svg {
  width: 100px;
  height: 100px;
}
